@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
.section_container{
	max-width: 1360px;
	margin: auto;
}
/*==================  Start Header Section  ==================*/
.header_main{
	padding: 35px 0px;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo a img{
	width: 88px;
	height: auto;
}
.menu ul{
	display: flex;
}
.menu ul li a{
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.42px;
	color: #000;
	margin-right: 20px;
}
.menu ul li a:hover{
	text-decoration: underline;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
.header_icons ul{
	display: flex;
}
.header_icons ul li a img{
	width: 20px;
	height: auto;
}
.header_icons ul li:nth-child(2) a{
	margin: 0px 24px;
}

/*==================  End Header Section  ==================*/


